.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; /* hoặc tùy chỉnh chiều cao phù hợp */
    border: 1px solid #e8e8e8;
    border-radius: 10px;
}
