.tags-container {
    width: 100%;
    // text-align: right;
    margin-top: 5px;
    margin-bottom: 10px;
    margin-left: 10px;
}
.editor-header {
    width: 100%;
    margin-top: 20px;
}

.editor-content {
    width: 100%;
    margin-top: 20px;
}
