@import 'normalize.css';

:root {
    --primary: #fe2c55;
}

html {
    // font-size: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    // font-family: 'Roboto', sans-serif;
    // font-size: 1.6rem;
}

// Global margin, padding
.mt-px {
    margin-top: 10px;
}

.mr-px {
    margin-right: 10px;
}

.mb-px {
    margin-bottom: 10px;
}

.ml-px {
    margin-left: 10px;
}

.pt-px {
    padding-top: 10px;
}

.pr-px {
    padding-right: 10px;
}

.pb-px {
    padding-bottom: 10px;
}

.pl-px {
    padding-left: 10px;
}

// Global half margin, padding
.mt-h-px {
    margin-top: 5px;
}

.mr-h-px {
    margin-right: 5px;
}

.mb-h-px {
    margin-bottom: 5px;
}

.ml-h-px {
    margin-left: 5px;
}

.pt-h-px {
    padding-top: 5px;
}

.pr-h-px {
    padding-right: 5px;
}

.pb-h-px {
    padding-bottom: 5px;
}

.pl-h-px {
    padding-left: 5px;
}

// Global size
.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

// Global display type
.flex-row {
    display: flex;
}

// Global alignment
.align-center {
    text-align: center;
}

.j-align-center {
    justify-content: center;
}

.atm-top {
    margin-top: auto;
}

.atm-right {
    margin-right: auto;
}

.atm-bottom {
    margin-bottom: auto;
}

.atm-left {
    margin-left: auto;
}

.atp-top {
    padding-top: auto;
}

.atp-right {
    padding-right: auto;
}

.atp-bottom {
    padding-bottom: auto;
}

.atp-left {
    padding-left: auto;
}

// Global opacity

.opacity-30 {
    opacity: 30%;
}

.opacity-50 {
    opacity: 50%;
}

.opacity-70 {
    opacity: 70%;
}

// Global hover
.df-hover:hover {
    cursor: pointer;
}

// Global popup
.small-popup-content {
    display: flex;
    justify-content: center;
    padding: 0px;
    padding-bottom: 500px;
    width: 0px;
    height: 0px;
    border: 0;
}

.big-popup-content {
    width: 99%;
    height: 97%;
    margin: 25px;
    border-radius: 15px;
    overflow: hidden;
}

// Global icons
.ico-close {
    position: absolute;
    top: 5px;
    right: 10px;
    :hover {
        cursor: pointer;
    }
}

// Global loader
.loader {
    position: fixed;
    width: 100%;
    top: calc(50% - 60px);
    left: calc(50% - 30px);
}
